/* static/birds/css/styles.css */
body {
    font-family: "Comfortaa", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-color: rgba(224, 233, 240, 1);
}


h1 {
    text-align: center;
    color: #333;
}

main{
    
    display: flex;
    justify-content: center;

}

.card-container {
    display: grid;

    gap: 20px;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr)
}


.bird-card {
    background-color: rgba(201, 180, 161, 1); 
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 25px;
}


.bird-card img {
    width: 307px;
    height: 332px;
    object-fit: cover;
    border-radius: 20px;
}


.bird-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
    color: rgba(242, 243, 245, 1); 
}


.bird-card a {
    display: block;
    background-color: rgba(132, 169, 153, 1);
    margin-top: 10px;
    text-align: center;
    color: rgba(242, 243, 245, 1);
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 40px;
}

.bird-card a:hover {
    background-color: #a29583;
}